.titleWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
}

.title {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(191px, 1fr));
  gap: 20px;
}

.loaderRef {
  height: 1px;
  grid-column: 1 / -1;
}
